@keyframes horizontalLoop {
    0% {
        transform: translateX(0%);
    }
    100% {
        transform: translateX(-100%);
    }
}

.animate-horizontalLoop {
    animation: horizontalLoop 1s linear infinite;
}

.animate-horizontalLoop-reverse {
    animation: horizontalLoop 1s linear infinite reverse;
}

* {
    box-sizing: border-box;
}
